In [28]:
### Run first done mess with ####

import pytrends
from matplotlib import pyplot as plt

from datetime import datetime, timedelta, date, time
import pandas as pd
import time

In [29]:
df = pd.read_csv('mainDf.csv')
stockdf = pd.read_csv('Resources/complete_stock_data .csv')
vaccine_data = pd.read_csv("Resources/vaccine_data.csv")
hospital_data = pd.read_csv("Resources/hospital_utilization.csv")
flight_data = pd.read_csv("Resources/flight_data.csv")

In [30]:
mainDf = stockdf.merge(df, on="Date", how="left")
mainDf = mainDf.merge(vaccine_data, on="Date", how="left")
mainDf = mainDf.merge(hospital_data, on="Date", how="left")
mainDf = mainDf.merge(flight_data, on="Date", how="left")

In [31]:
df.to_csv('mainDfNS.csv')

In [32]:
temp = pd.read_csv('mainDf.csv')

In [33]:
temp.head()

,Unnamed: 0,Date,alcoholism,anxiety,athleisure,cutting hair,depression,dry cough,eczema,fever,...,what is ivermectin,what is mrna,bill gates population control,ubereats,instacart jobs,gig economy,stimmy,trump,biden,china
0,0,2019-12-01,46,66,38,20,62,17,55,31,...,1,4,5,52,4,2,0,6,1,22
1,1,2019-12-02,46,77,32,20,79,14,55,30,...,1,21,0,43,9,9,0,6,1,22
2,2,2019-12-03,36,80,41,16,83,16,61,30,...,0,30,0,51,11,10,0,7,1,23
3,3,2019-12-04,44,87,72,16,89,15,66,32,...,1,23,0,53,11,10,0,10,1,24
4,4,2019-12-05,54,80,49,22,92,14,68,29,...,0,43,5,46,10,7,0,11,2,23

In [34]:
mainDf

,Date,MRNA_Open,MRNA_Close,MRNA_Difference,MRNA_Volume,JNJ_Open,JNJ_Close,JNJ_Difference,JNJ_Volume,BTNX_Open,...,instacart jobs,gig economy,stimmy,trump,biden,china,Total Doses Administered,Daily Increase,Current Hospitalized COVID-19 Patients,Number of Flights
0,2019-12-02,20.30,19.76,0.54,1184000,137.72,137.36,0.36,4717100,22.66,...,9,9,0,6,1,22,NaN,NaN,NaN,NaN
1,2019-12-03,19.48,21.28,-1.80,1795200,136.91,137.16,-0.25,5741400,22.05,...,11,10,0,7,1,23,NaN,NaN,NaN,NaN
2,2019-12-04,21.00,21.27,-0.27,1980100,138.50,139.38,-0.88,7257300,21.49,...,11,10,0,10,1,24,NaN,NaN,NaN,NaN
3,2019-12-05,21.49,20.64,0.85,1478100,139.35,139.56,-0.21,5472900,21.75,...,10,7,0,11,2,23,NaN,NaN,NaN,NaN
4,2019-12-06,20.78,18.94,1.84,3537200,139.46,140.38,-0.92,6640400,22.85,...,10,13,0,9,2,25,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,2022-02-08,155.20,153.31,1.89,7616400,171.02,171.51,-0.49,6296100,162.35,...,30,3,0,2,3,34,546787888.0,471048.0,101406.57,182198.0
552,2022-02-09,154.37,164.03,-9.66,5621600,172.07,171.49,0.58,5387500,162.90,...,17,3,0,2,7,27,547266020.0,478132.0,97626.00,194573.0
553,2022-02-10,158.00,160.42,-2.42,5965400,171.21,169.42,1.79,10355300,165.04,...,8,2,0,2,5,28,547739194.0,473174.0,92676.86,197247.0
554,2022-02-11,161.25,161.32,-0.07,5245700,169.12,167.71,1.41,13124800,167.93,...,18,4,0,2,4,26,548321220.0,582026.0,89003.00,199407.0
555,2022-02-14,157.53,142.47,15.06,16669500,167.71,165.60,2.11,8967600,163.67,...,16,5,1,2,2,22,NaN,NaN,NaN,NaN

In [38]:
mainDf.to_csv('Resources/finalMainDf.csv', index=True)

In [39]:
scoutStockDf = stockdf.merge(vaccine_data, on="Date", how="left")
scoutStockDf = scoutStockDf.merge(hospital_data, on="Date", how="left")
scoutStockDf = scoutStockDf.merge(flight_data, on="Date", how="left")
scoutStockDf.to_csv('Resources/scoutStockDf.csv', index=True)

In [40]:
scoutDf = df.merge(vaccine_data, on="Date", how="left")
scoutDf = scoutDf.merge(hospital_data, on="Date", how="left")
scoutDf = scoutDf.merge(flight_data, on="Date", how="left")
scoutDf.to_csv('Resources/scoutDf.csv', index=True)